@import "tailwindcss";

body{
background-color: rgb(227, 229, 231);
overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

@font-face {
  font-family: "InstrumentSerif";
  src: url("/src/font/InstrumentSerif-Regular.ttf") format("truetype");
  font-display: swap;
}


@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-15px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}



.bg{
    background-color:   rgb(254, 255, 255);
}

@font-face {
    font-family: TitleFont;
    src: url("../src//font/InstrumentSerif-Regular.ttf");
}

@font-face {
    font-family: font1;
    src: url("../src//font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: font2;
    src: url("../src//font/ChettaVissto.ttf");
}
@font-face {
    font-family: font3;
    src: url("../src//font/VerveAlternate.ttf");
}
@font-face {
    font-family: font4;
    src: url("../src//font/Vocago.ttf");
}
.font{
    font-family:TitleFont ;
}
.font1{
    font-family:font1 ;
}
.font2{
    font-family:font2 ;
}
.font3{
    font-family:font3 ;
}
.font4{
    font-family:font4 ;
}


